@mixin calculatorContact {
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 16px 9px;
  display: block;
}

svg.menu__open {
  display: none;
}

.logo {
  width: 72px;
}

.navi {
  display: flex;
}

.navi__element {
  margin: 0 16px;
  font-size: 16px;
  line-height: 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  margin-top: 22px;
  align-items: center;
  padding: 0 16px;
}

.calculatorContact {
  display: flex;
}

.calculatorContact__contact {
  box-shadow: 0 0 0 1px #ccd4de;
  background-color: white;
  color: black;
  @include calculatorContact;
}


.calculatorContact__contact a {
  margin-bottom: 34px;
}

.calculatorContact__calculator {
  @include calculatorContact;
  box-shadow: 0 0 0 1px #00479a;
  background-color: #00479a;
  color: white;
  margin-left: 7px;
  text-decoration: none;
}

@media (max-width: 1000px) {
  svg.menu__open {
    display: initial;
  }

  .calculatorContact,
  .navi {
    display: none;
  }

  svg.menu__close {
    z-index: 200;
    fill: white;
    position: fixed;
    right: 40px;
    top: 40px;
    font-size: 40px;
    cursor: pointer;
    animation: 1s ease-in-out 0.6s rotate;
  }

  svg.menu__open {

    position: fixed;
    right: 40px;
    top: 40px;
    font-size: 40px;
    cursor: pointer;
    animation: 1s ease-in-out fall;
  }

  .navi--active {
    position: fixed;
    top: 150px;
    display: flex;
    flex-direction: column;
    right: calc(50% - 75px);
    text-align: center;
    z-index: 50;
  }

  .navi__element--active {
    margin-bottom: 16px;
    color: white;
    margin-bottom: 20px;
    display: block;
  }

  .overlay--active {
    position: fixed;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    animation: 0.5s ease-in-out slidein;
  }

  .calculatorContact--active {
    z-index: 50;
    position: fixed;
    top: 350px;
    display: flex;
    flex-direction: column;
    right: calc(50% - 108px);
    text-align: center;
  }

  .calculatorContact li {
    margin-bottom: 32px;
  }


  .calculatorContact__calculator {
    margin-top: 20px;
  }
}

@keyframes slidein {
  from {
    max-width: 0%;
  }

  to {
    max-width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes fall {
  0% {
    transform: rotate(-30deg);
    margin-top: -30px;
  }

  30% {
    transform: rotate(0);
    margin-top: 0;
  }

  50% {
    transform: rotate(10deg);
    margin-top: -10px;
  }

  100% {
    transform: rotate(0);
    margin-top: 0;
  }
}