$blue:#0055b8;
$gray:#ccd4de;

/* culture */
.culture {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 80px 0;
  padding: 0 16px;
}

.culture .overall {
  padding-left: 32px;
}


@media (max-width: 1000px) {

  .culture {
    grid-template-columns: 50% 50%;
  }

}