.App{
  max-width: 1150px;
  margin:0 auto;
}
ul{
  padding:0;
  margin:0;
}
/* menu*/

.logo{
  width:130px;
  height:30px;
}
.navi{
list-style-type: none;
display: flex;
}
.navi__element{
  margin: 0 16px;
  font-size: 16px;
  line-height: 24px;
}
.menu{
display: flex;
justify-content: space-between;
padding: 18px 0;
margin-top:22px;
}