@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
a{
  text-decoration: none;
}
body *{
  font-family: 'Roboto', sans-serif;
}
h1,h3{
  margin:0;
}
button{
  border:none;
  outline: none;
}
.App{
  max-width: 1150px;
  margin:0 auto;
  overflow: hidden;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
/* menu*/

.logo{
  width:72px;
}
.navi{

display: flex;
}
.navi__element{
  margin: 0 16px;
  font-size: 16px;
  line-height: 24px;
}
.menu{
display: flex;
justify-content: space-between;
padding: 18px 0;
margin-top:22px;
align-items: center;
padding:0 16px;
}
.calculatorContact{
  display: flex;
}
.calculatorContact__contact{
  box-shadow: 0 0 0 1px #ccd4de;
  border-radius:4px;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 16px 9px;

}
.calculatorContact__calculator{
  box-shadow: 0 0 0 1px #00479a;
  border-radius:4px;
  background-color:#00479a;
  font-size: 16px;
  font-weight: 400;
  color:white;
  padding: 7px 16px 9px;
  margin-left: 7px;
  text-decoration: none;
}
/*banner*/
.banner{
  display: flex;
  margin-top:63px;
  padding:0 16px;
}
.banner-texts{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}
.banner-texts__header{
  font-size: 62px;
  line-height: 1.125;
  font-weight: 600;
  margin-bottom: .35em;
}
.banner-texts__subheader{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 24px;
  font-weight: 400;
}
.banner-texts__calculator{
  box-shadow: 0 0 0 1px #0055b8;
  border-radius:4px;
  background-color:#0055b8;
  color:white;
  padding: 15px 16px 17px;
  font-size: 18px;
  font-weight: 500;
  margin: 8px 16px 8px 0;
  line-height: 24px;
}
.banner-texts__about{
  box-shadow: 0 0 0 1px #ccd4de;
  border-radius:4px;
  font-size: 18px;
  font-weight: 400;
  margin: 8px 16px 8px 0;
  padding: 15px 16px 17px;
  min-width: 176px;
  text-align: center;
}
/*offer*/
.offer__img{
  width:96px;
  margin-bottom:24px;
}
.offers__header{
  font-size: 40px;
  line-height: 1.3;
  font-weight: 600;
  flex-basis: 100%;
  flex-shrink: 0;
  text-align: center;
  margin-bottom:50px;
}
.offer__header{
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  font-weight: 500;
  min-height: 62px;
}

.offer__link{
  font-size: 16px;
    line-height: 20px;
    color: #0055b8;
    text-align: center;
    font-weight: 500;
    display: block;
}
.offer__content{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  min-height:144px;
}
.offers{
  margin-top:111px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 16px;
  margin-bottom:80px;
}
.offer{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:320px;
}

/*testimonials*/
.testimonial{
display: flex;
flex-direction: column;
align-items: center;
padding-left:16px;
}
.testimonial__img{
  border-radius: 50%;
  width:96px;
}
.testimonial__content{
  font-size: 24px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 15px 0 20px;
}
.testimonial__company{
  font-size: 16px;
  color: #768190;
}
.testimonials__list{
  display: flex;
  width:100px;
  justify-content:space-between;
  margin-top:14px;
}
.testimonials__list__button{
  width:16px;
  border-radius:50%;
  height:16px;
  cursor: pointer;
background-color: #ccd4de;
}
.testimonials__list__button--active{
  width:16px;
  border-radius:50%;
  height:16px;
  cursor: pointer;
  background-color:#0055b8;
}
.overall__header{
  font-size: 40px;
  line-height: 1.3;
  font-weight: 600;
}
.overall__content{
  font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 1.2em;
    padding-right:16px;
}
.overall__link{
  color: #00479a;
  font-size: 18px;
  font-weight: 500;
}
.testimonials{
  display: flex;
  background-color: #F2F5F7;
  position: relative; /* for child pseudo-element */
  margin: 0 -600rem;
  /* add back negative margin value */
  padding: 80px 600rem;
}

.testimonials__main{
  width: 55%;
  flex-shrink: 0;
  padding-right:32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* culture */
.culture{
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 80px 0;
  padding: 0 16px;
}
.culture .overall{
padding-right:32px;
}
.culture__img{
  width: 100%;
}
/*estimation*/
.estimation{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estimation__header{
  font-size: 48px;
  line-height: 1.16;
  text-align: center;
  font-weight: 600;
}
.estimation__subheader{
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  font-weight: 400;
  max-width: 600px;
}
.from, .to{
}
.characters{
  width:calc(100% - 30px);
}
.from__list--shown, .to__list--shown{
  display: initial;
  position: absolute;
  /* top: 56px; */
  padding: 8px;
  max-height: 266px;    
  width: calc(100% - 15px);
  border-radius: 2px;
  overflow-y: auto;
  box-shadow: 0 0 0 1px #abb3bd, 0 4px 8px rgba(0,0,0,.16);
  background-color:white;
}
.from__list--hidden, .to__list--hidden{
  display: none;
  position: absolute;

}
.from, .to {
  position: relative;
}
.from__list__element, .to__list__element{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px 5px;
  margin-bottom: 1px;
  font-size: 14px;
 

  color: #000;
  line-height: 24px;
  border-radius: 2px;
  background-color: transparent;
}
.from__list__element--active, .to__list__element--active{

  display: flex;
  align-items: center;
  cursor: pointer;

  justify-content: space-between;
  padding: 3px 8px 5px;
  margin-bottom: 1px;
  font-size: 14px;
  color: white;
  line-height: 24px;
  border-radius: 2px;
  background-color: #002b5c;
}
.from__language, .to__language{
  width: 480px;
  display: flex;
  cursor: pointer;
    justify-content: space-between;
    padding: 11px 16px 13px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    border-width: 0;
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 0 0 1px #abb3bd, 0 1px 2px rgba(0,0,0,.16);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color:white;
    
}
.from__language--active, .to__language--active{
  display: flex;
  background-color:white;

  cursor: pointer;
    justify-content: space-between;
    width: 480px;
    padding: 11px 16px 13px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    border-width: 0;
    transition: box-shadow .15s ease-in-out;
    box-shadow: 0 0 0 1px #abb3bd, 0 1px 2px rgba(0,0,0,.16);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  box-shadow: 0 0 0 2px #0055b8, 0 1px 2px rgba(0,0,0,.16);

}
.estimation-main{
  width: 1120px;
  padding: 30px 50px 12px;
  background-color:#F2F5F7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.characters__textarea{
  width: 280px;
  outline: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
  border-width: 0;
  transition: box-shadow .15s ease-in-out;
  box-shadow: 0 0 0 1px #abb3bd, 0 1px 2px rgba(0,0,0,.16);
  white-space: nowrap;
  padding: 11px 16px 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  width: 100%;
  height: 24px;
}
.estimation__button{
  margin: 24px auto;
  padding: 11px 16px 13px;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  background-color: #0055b8;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  box-shadow: 0 0 0 1px #0055b8;
  transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.solutions{
  width:1120px;
  background-color:#F2F5F7;
  padding: 30px 50px 12px;
}
.solutions__list{

  padding: 30px 50px 12px;
  display: flex;
}
.solution{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 16px 24px;
    background-color: #fff;
    width: calc(100% / 3);
    margin-top: 24px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #abb3bd;
    overflow: hidden;
}
.solution__icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solution__icons__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  margin-left: 4px;
      font-size: 16px;
    font-weight: 400;
    margin-bottom:8px;
}
.solution__order{
  width: calc(100% - 24px);
  margin: 0;
    padding: 11px 16px 13px;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    background-color: #0055b8;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    box-shadow: 0 0 0 1px #0055b8;
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.solution__header{
  line-height: 24px;
  margin-bottom: 16px;
  font-size: 22px;
}
.solution__price{
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  margin:40px 0;
  cursor: pointer;
}
/* footer*/
.footer-left__img{
  width:100x;
  height: 100px;
  margin-right:16px;
  align-self:center;
}
.footer-left__text{
  max-width: 367px;
    padding-right: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top:24px;
}
.footer-right__text{
  max-width: 367px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top:24px;
}
.footer-left{
  display: flex;
  flex-direction: column;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding:80px 0 40px 0 ;
}
.footer-right__link-container{
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}
.footer-right__link{
margin-left:16px;
color: #0055b8;
font-size: 16px;
line-height: 20px;
color: #0055b8;
transition: color .25s ease-in-out;
font-weight: 500;
}
.footer-right__icon{
  fill:#abb3bd !important;
}
/* .mail-message{
  display: none;
} */
@media (max-width: 1200px) {
  .culture{
    grid-template-columns: 50% 50%;

  }
}